*.log
*.retry
.499167.padl
.CFUserTextEncoding
.DS_Store
.MacOSX
.Trash
.ansible
.ansible_inventory
.ansible_module_generated
.ansible_test_module_arguments
.atom
.aws
.bash_history
.bash_sessions
.bashrc
.boto
.cache
.config/
.cups
.docker
.gitconfig
.ipynb_checkpoints/
.ipython*
.irssi
.jupyter
.k5login
.lesshst
.liquidpromptrc
.mitmproxy/
.mysql_history
.node-gyp/
.npm/
.oracle_jre_usage
.pylint.d
.sqlite_history
.ssh
.subversion
.vagrant
.vagrant.d
.vim
.viminfo
.virtualenvs
.vnc
.wget-hsts
Applications
Box Sync
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
PycharmProjects
Vagrantfile
VirtualBox VMs
code
envs
liquidprompt
node_modules/
repos
vagrant.yml
