# ignore personal folders
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
liquidprompt/

# ignore certain dotfiles
.CFUserTextEncoding
.DS_Store
.Trash/
.bashrc
.bash_history
.bash_sessions/
.gitconfig
.lesshst
.liquidpromptrc
.ssh/
.viminfo

# ignore log files
*.log
